{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div id="contents" class="main_only">
        <div id="privacy_wrap" class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading">プライバシーポリシー</h1>
                <div id="privacy_box" class="container-fluid res_padding">
                    <div id="privacy_box__body" class="row">
                        <div id="privacy_box__body_inner" class="col-md-10 col-md-offset-1">
                            <p id="privacy_box__declaration">
                                {% if BaseInfo.company_name is not null %}
                                    {{ BaseInfo.company_name }}は、
                                {% endif %}
                                個人情報保護の重要性に鑑み、「個人情報の保護に関する法律」及び本プライバシーポリシーを遵守し、お客さまのプライバシー保護に努めます。
                            </p>
                            <br />
                            <h3 id="privacy_box__lead_header">＜個人情報保護方針＞</h3>
                            <p id="privacy_box__lead">
                                {% if BaseInfo.company_name is not null %}
                                    {{ BaseInfo.company_name }}では、
                                {% endif %}
                                個人情報の保護に関する法律および同法に関係する法令等（以下「個人情報保護法等」という。）を遵守し、お客様からお預かりした個人情報の確実な保護を実現するため、次の方針に基づき個人情報の適正な取扱いを行っております。<br><br>
                                当社は、適切かつ公正な方法によって個人情報を取得します。<br>
                                当社は、あらかじめご本人の同意を得ないで、特定された利用目的を達成するのに必要な範囲を超えて個人情報を取り扱いません。<br>
                                ただし、特定の個人を識別できない態様に加工したうえで、統計上の資料として使用することがあります。<br>
                                当社は、個人情報の正確性を保ち、これを安全に管理するため、個人情報への不正アクセス、流用、破壊、改ざんおよび漏洩等を防止するための各種セキュリティ対策を講じます。<br>
                                当社は、お客様からお預かりしている個人情報を、情報処理等のため利用目的の範囲内で業務委託先に提供することがあります。また、個人情報保護法等に定める手続を行ったうえで、別の事業主体と個人情報を共同利用することがあります。<br>
                                なお、個人情報の取扱いに関し委託または共同利用を行う場合には、当該委託先または共同利用先について厳正な調査を行ったうえで、適正な監督・連携により情報漏洩防止に努めます。<br>
                                当社は、個人情報保護法等に定める場合を除き、あらかじめご本人の同意を得ることなく、個人情報を第三者に提供しません。<br><br>
                                当社は、個人情報保護法等に定める保有個人データに関するご本人または代理人からの開示、訂正、利用停止等の各請求手続および個人情報の取扱いに関する苦情のお申出先等を定め、すみやかに対応いたします。<br><br>
                                当社は、本個人情報保護方針および個人情報保護のための内部管理体制を適宜更新し、お客様からお預かりしている個人情報の適正な取扱いに努めます。<br><br>
                                ※本個人情報保護方針において、個人情報とは、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む。）をいいます。<br><br>
                            </p>
                            <h3 id="privacy_box__lead_header">＜個人情報の取り扱いについて＞</h3>
                            <p id="privacy_box__lead">
                                当社が直接または間接的に取得したお客様の個人情報に関しては漏洩等が発生しないよう社内体制を確立し、十分な注意を図ったうえで以下のように取り扱いさせていただきます。<br><br>
                            </p>
                            <h3 id="privacy_box__lead_header">＜個人情報の利用目的＞</h3>
                            <p id="privacy_box__lead">
                                お客様の個人情報は、以下の目的により利用いたします。<br>
                                当社事業（加工食品の企画、開発、販売及びおろし、加工食品の輸出入、健康食品・機器の販売及びそれらの付帯関連する一切の事業）の営業活動（訪問、ダイレクトメールの発送、電話による勧誘、電子メールによる勧誘等）または顧客動向分析もしくは商品開発等の調査分析のため<br>
                                当社事業に関するアフターサービスの実施のため<br>
                                上記の利用目的の達成に必要な範囲での個人情報の第三者への提供<br><br>
                            </p>
                            <h3 id="privacy_box__lead_header">＜第三者提供の目的について＞</h3>
                            <p id="privacy_box__lead">
                                お客様の個人情報は、機密保持のための必要な措置を講じたうえで、法令の規定に基づく場合のほか、上記利用目的の達成に必要な範囲内で以下のとおり第三者提供する場合があります。<br><br>
                                提供する相手方（例示）<br>
                                EC事業における事業主・代理会社・共同代理会社・媒介会社・取引の付帯業務における金融機関・司法書士・信用情報機関、提携企業、EC事業におけるお客様の取引相手方（見込み客含む）・インターネット広告の掲載業者、指定流通機構、当社グループ企業等に第三者提供する場合があります。<br><br>
                            </p>
                            <h3 id="privacy_box__lead_header">＜提供する項目等＞</h3>
                            <p id="privacy_box__lead">
                                第三者提供する項目「住所、氏名、電話番号、メールアドレス、物件情報、成約情報その他必要な項目」<br>
                                第三者提供の手段又は方法「書面、電子データ、郵便物、電話、インターネット、電子メール、広告媒体等」により提供いたします。<br>
                                ※なお、第三者提供についてはお客様のお申し出により停止することといたします。（ただし、当社がお客様との契約を履行するために必要であり、お客様から同意をいただいた場合は、お申し出にかかわらず停止できない場合があります。）提供停止をご希望のお客様は、お問い合わせ窓口まで電話または電子メールにてご連絡いただきますようお願いいたします。<br><br>
                            </p>
                            <h3 id="privacy_box__lead_header">＜問い合わせ窓口＞</h3>
                            <p id="privacy_box__lead">
                                本プライバシーポリシーに対するご意見、ご質問、利用目的の通知や個人情報の開示等の御請求、その他個人情報の取扱いに関するお問い合わせは、こちら（support@tanpakun.co.jp）までお願いいたします。<br><br>
                            </p>
                            <h3 id="privacy_box__lead_header">＜個人情報の管理責任者＞</h3>
                            <p id="privacy_box__lead">
                            {% if BaseInfo.company_name is not null %}
                                会社名:&nbsp;{{ BaseInfo.company_name }}<br>
                            {% endif %}
                                責任者（代表取締役）:&nbsp;池田雅臣<br>                            
                            {% if BaseInfo.zip01 is defined %}
                                所在地:<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;{#【本社】#}<!--〒{{ BaseInfo.zip01 }}-{{ BaseInfo.zip02 }}&nbsp;&nbsp;{{ BaseInfo.pref }}{{ BaseInfo.addr01 }}{{ BaseInfo.addr02 }}<br>-->
                                〒135-0063&nbsp;&nbsp;東京都江東区有明三丁目7番26号&nbsp;有明フロンティアビルB棟9階<br>
                            {% endif %}
                                {# &nbsp;&nbsp;&nbsp;&nbsp;【営業所】〒556-0011　大阪市浪速区難波中3−16−11 ニュー難波ビル357号<br> #}
                                {# 電話:&nbsp;06-6567-8790<br><br> #}
                                電話:&nbsp;03-5530-8494<br><br>
                            </p>
                            <h3 id="privacy_box__lead_header">＜改定＞</h3>
                            <p id="privacy_box__lead">
                                本プライバシーポリシーを改定する場合は、改訂日及び改定内容を速やかに弊社のWebサイト上で告知します。<br><br><br><br>
                                2017年11月30日　施行
                            </p>
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}