<!-- desktop ~ tablet -->
<div id="curtain-container">
    <div class="curtain_wrap desktop_view">
        <div class="division_wrap">
            <div class="img_wrap">
                <div class="parallax-window" data-parallax="scroll" data-image-src="{{ app.config.front_urlpath }}/img/main/woman.jpg">
                    {# <img src="{{ app.config.front_urlpath }}/img/main/woman_1.jpeg" alt="diet"> #}
                </div>
            </div>
            <div class="desc_wrap">
                <span class="sub_tit">
                    <h3>HEALTHY IS
                        <br/>BEAUTIFUL</h3>
                </span>
                <span class="wave_line">
                    <img src="../template/default/img/main/wave_line_pink.png" alt="">
                </span>

                <p class="desc woman">
                    TANPAKUNは、あなたの人生を変えるきっかけを作り、
                    <br/> 日本全国で健康って美しい（Healthy is beautiful)を
                    <br/> 現実させるブランドです。
                    <br/>
                    <br/> あなた自身が自分らしい美しさを発見できるように、
                    <br/> あなたの挑戦を着実に前進させるように、
                    <br/> 昨日より優れた今日の自分になれるように、
                    <br/>
                    <br/> 健康と美味しさを兼ね備えた製品開発と

                    <br/> ライフスタイルの研究を通して、
                    <br/> 皆さんを支援していきます。
                    <br/>
                </p>
            </div>
        </div>
        <div class="division_wrap">
            <div class="desc_wrap">
                <span class="sub_tit">
                    <h3>MAKE <br/>REAL FOOD</h3>
                </span>
                <span class="wave_line">
                    <img src="../template/default/img/main/wave_line_blue.png" alt="">
                </span>
                <p class="desc man">
                    TANPAKUNは食事の本質である、<br/>
                    「適切な栄養摂取すること」を最優先し、<br/>
                    忙しい現代人のライフスタイルに合った美味しくて、<br/>
                    健康的な食事を提案、サポートしていきます。<br/><br/>
                    また、我々は製品の品質テストとお客様からの意見を<br/>
                    もとに、定期的な品質改善を行うことで、<br/>
                    皆様が安心して、健康になることができる<br/>
                    リアルフードを作ります。
                </p>
            </div>
            <div class="img_wrap">
                <div class="parallax-window" data-parallax="scroll" data-image-src="{{ app.config.front_urlpath }}/img/main/man.jpg">
                    {# <img src="{{ app.config.front_urlpath }}/img/main/man_1.jpeg" alt="exercise"> #}
                </div>
            </div>
        </div>
    </div>
    <!-- mobile -->
    <div class="m_curtain_wrap mobile_view">
        <div class="division_wrap">
            <div class="img_wrap woman">
                <img src="{{ app.config.front_urlpath }}/img/main/woman.jpg" alt="dite">
            </div>
            <div class="desc_wrap">
                <span class="sub_tit"><h3>HEALTHY IS<br/>BEAUTIFUL</h3></span>
                <img src="../template/default/img/main/wave_line_pinkx2.png" alt="image">
                <p class="desc woman">
                    TANPAKUNは、あなたの人生を変えるきっかけを作り、<br/>
                    日本全国で健康って美しい（Healthy is beautiful)を<br/>
                    現実させるブランドです。<br/><br/>

                    あなた自身が自分らしい美しさを発見できるように、<br/>
                    あなたの挑戦を着実に前進させるように、<br/>
                    昨日より優れた今日の自分になれるように、<br/><br/>

                    健康と美味しさを兼ね備えた製品開発と<br/>
                    ライフスタイルの研究を通して、<br/>
                    皆さんを支援していきます。<br/>
                </p>  
            </div>    
        </div>   
        <div class="division_wrap">
            <div class="img_wrap man">
                <img src="{{ app.config.front_urlpath }}/img/main/man.jpg" alt="exercise">
            </div>
            <div class="desc_wrap">
                <span class="sub_tit"><h3>MAKE<br/>REAL FOOD</h3></span>
                <img src="../template/default/img/main/wave_line_bluex2.png" alt="image">
                <p class="desc man">
                    TANPAKUNは食事の本質である、<br/>
                    「適切な栄養摂取すること」を最優先し、<br/>
                    忙しい現代人のライフスタイルに合った美味しくて、<br/>
                    健康的な食事を提案、サポートしていきます。<br/><br/>
                    また、我々は製品の品質テストとお客様からの意見を<br/>
                    もとに、定期的な品質改善を行うことで、<br/>
                    皆様が安心して、健康になることができる<br/>
                    リアルフードを作ります。
                </p>  
            </div>    
        </div>   
    </div>
</div>