<!-- //origin desktop main banner slider -->
<!-- <div id="main_banner" class="desktop_view">
    <div id="slider-container">
        <button id="control_prev">&lt;</button>
        <div id="slider">
            <ul id="slides">
                <li id="target" class="box">
                    <div class="box" id="image"></div>
                    <div class="slogan_img"></div>
                    <div class="box_link">
                        <a class="link"href="">View</a>
                        <p class="promote">圧倒的な食べやすさ！ 国産鶏100%使用 鶏のささみ、ソーセージ</p>
                    </div>
                </li>
                <li class="box slide_item slide_item_2">
                    <div class="slogan_img"></div>
                    <div class="box_link">
                        <a class="link"href="">View</a>
                        <p class="promote">圧倒的な食べやすさ！ 国産鶏100%使用 鶏のささみ、ソーセージ</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->
<!-- //alternative desktop main banner -->
<!-- desktop ~ tablet -->
<div class="main_banner desktop_view">
    <div id="slider_container">
            <ul class="slider">
                <li class="slide_item item1">
                    <img class="rice_1" src="../template/default/img/main/s_garlic_pc.jpg" alt="">
                    <div class="link_box">
                        <div class="wrap">
                            <span class="link">
                                <a href="{{ url('product_list') }}?category_id=1">購入</a>
                            </span>
                            <p class="promote product1">
                            </p>
                        </div>
                    </div>
                </li>
                <li class="slide_item item2">
                    <img class="rice_1" src="../template/default/img/main/rice_1.jpeg" alt="">
                    <!-- <img class="so_5" src="../template/default/img/main/so_5.jpg" alt=""> -->
                    <!-- <img class="so_6" src="../template/default/img/main/so_6.jpg" alt=""> -->
                    <div class="link_box">
                        <div class="wrap">
                            <span class="link">
                                <a href="{{ url('product_list') }}?category_id=6">購入</a>
                            </span>
                            <p class="promote product1">
                                国産米/玄米の独自ブレンドで<br>こだわりの栄養バランスに仕上げました!
                            </p>
                        </div>
                    </div>
                </li>
                <li class="slide_item item3">
                    <img class="so_1" src="../template/default/img/main/so_1.jpg" alt="">
                    <img class="so_2" src="../template/default/img/main/so_2.jpg" alt="">
                    <img class="so_3" src="../template/default/img/main/so_3.jpg" alt="">
                    <img class="so_4" src="../template/default/img/main/so_4.jpeg" alt="">
                    <!-- <img class="so_5" src="../template/default/img/main/so_5.jpg" alt=""> -->
                    <!-- <img class="so_6" src="../template/default/img/main/so_6.jpg" alt=""> -->
                    <div class="link_box">
                        <div class="wrap">
                            <span class="link">
                                <a href="{{ url('product_list') }}?category_id=1">購入</a>
                            </span>
                            <p class="promote product1">
                                圧倒的な食べやすさ！<br>国産鶏100%使用 鶏胸肉ソーセージ
                            </p>
                        </div>
                    </div>
                </li>
                <li class="slide_item item4">
                    <img class="ham_1" src="../template/default/img/main/ham_1.jpg" alt="">
                    <img class="ham_2" src="../template/default/img/main/ham_2.jpg" alt="">
                    <img class="ham_3" src="../template/default/img/main/ham_3.jpg" alt="">
                    <img class="ham_4" src="../template/default/img/main/ham_4.jpeg" alt="">
                    <!-- <img class="ham_5" src="../template/default/img/main/ham_5.jpg" alt=""> -->
                    <!-- <img class="ham_6" src="../template/default/img/main/ham_6.jpg" alt=""> -->
                    <div class="link_box">
                        <div class="wrap">
                            <span class="link">
                                <a href="{{ url('product_list') }}?category_id=2">購入</a>
                            </span>
                            <p class="promote product2">
                                圧倒的な食べやすさ！<br> 国産鶏胸肉100%ハンバーグ
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- mobile -->
<div class="m_main_banner mobile_view">
    <div id="m_slider_container">
        <ul class="m_slider">
            <li class="slide_item item2">
                <a href="{{ url('product_list') }}?category_id=1">
                    <img src="../template/default/img/main/s_garlic_tab.jpg" alt="">
                </a>
            </li>
            <li class="slide_item item2">
                <a href="{{ url('product_list') }}?category_id=6">
                    <img src="../template/default/img/main/m_rice.jpeg" alt="">
                </a>
            </li>
            <li class="slide_item item3">
                <a href="{{ url('product_list') }}?category_id=1">
                    <img src="../template/default/img/main/m_so.jpeg" alt="">
                </a>
            </li>
            <li class="slide_item item4">
                <a href="{{ url('product_list') }}?category_id=2">
                    <img src="../template/default/img/main/m_ham.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="m_main_banner_xs mobile_view_xs">
    <div id="m_slider_container_xs">
        <ul class="m_slider_xs">
            <li class="slide_item item1">
                <a href="{{ url('product_list') }}?category_id=1">
                    <img src="../template/default/img/main/s_garlic_mo.jpg" alt="">
                </a>
            </li>
            <li class="slide_item item2">
                <a href="{{ url('product_list') }}?category_id=6">
                    <img src="../template/default/img/main/m_rice_s.png" alt="">
                </a>
            </li>
            <li class="slide_item item3">
                <a href="{{ url('product_list') }}?category_id=1">
                    <img src="../template/default/img/main/m_so_s.jpeg" alt="">
                </a>
            </li>
            <li class="slide_item item4">
                <a href="{{ url('product_list') }}?category_id=2">
                    <img src="../template/default/img/main/m_ham_s.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>