<div id="customer_review" class="fullpage_section">
    <div class="wrap">
        <a class="mailing_btn" href="javascript:alert('準備中')">口コミを投稿する</a>
        <ul class="review_lists">
            <li class="list">
                <div class="area_img">
                    <img class="review_pic" src="{{ app.config.front_urlpath }}/img/main/re_1_1.jpg" alt="review photo">
                    <span class="reviewer_img">
                        <img src="{{ app.config.front_urlpath }}/img/main/re_1.png" alt="review photo">
                    </span>
                </div>
                <div class="area_text">
                    <h1 class="review_title">思った以上に美味しいです！</h1>
                    <p class="review_content">ダイエット用の食事として買いましたが最高です！</br>ダンパク質の量も凄いし満腹感も長く続くし！<br/>何より美味しいです！</p>
                </div>
            </li>
            <li class="list">
                <div class="area_img">
                    <img class="review_pic" src="{{ app.config.front_urlpath }}/img/main/re_2_2.jpg" alt="review photo">
                    <span class="reviewer_img">
                        <img src="{{ app.config.front_urlpath }}/img/main/re_2.png" alt="review photo">
                    </span>
                </div>
                <div class="area_text">
                    <h1 class="review_title">トレーニング後にめっちゃいいです！</h1>
                    <p class="review_content">トレーニング後にすぐにタンパク質を<br/>摂りたいと思って、ソーセージを注文しました！<br/>めっちゃ美味しくて、簡単に食べれるし、<br/>絶対また買います！</p>
                </div>
            </li>
            <li class="list">
                <div class="area_img">
                    <img class="review_pic" src="{{ app.config.front_urlpath }}/img/main/re_3_3.jpg" alt="review photo">
                    <span class="reviewer_img">
                        <img src="{{ app.config.front_urlpath }}/img/main/re_3.png" alt="review photo">
                    </span>
                </div>
                <div class="area_text">
                    <h1 class="review_title">毎朝食べてますー＾＾</h1>
                    <p class="review_content">朝食に簡単で栄養あるものを探してたんですけど<br/>鶏むね肉ソーセージを見つけて注文しました！<br/>美味しくて何より調理と保管が楽です！</p>
                </div>
            </li>
            <li class="list">
                <div class="area_img">
                    <img src="" alt="review photo">
                    <span class="reviewer_img">
                        reviewer photo
                    </span>
                </div>
                <div class="area_text">
                    <h1 class="review_title"></h1>
                    <p class="review_content"></p>
                    <span class="reviewer"></span>
                </div>
            </li>
            <li class="list">
                <div class="area_img">
                    <img src="" alt="review photo">
                    <span class="reviewer_img">
                        reviewer photo
                    </span>
                </div>
                <div class="area_text">
                    <h1 class="review_title"></h1>
                    <p class="review_content"></p>
                    <span class="reviewer"></span>
                </div>
            </li>
            <li class="list">
                <div class="area_img">
                    <img src="" alt="review photo">
                    <span class="reviewer_img">
                        reviewer photo
                    </span>
                </div>
                <div class="area_text">
                    <h1 class="review_title"></h1>
                    <p class="review_content"></p>
                    <span class="reviewer"></span>
                </div>
            </li>
        </ul>
        <!-- //hide add list button till the ready for more contents -->
        <!-- <a class="add_list_btn desktop_view" href="#none">add more list</a> -->
        <a class="add_list_btn mobile_view" href="#none">MORE</a>
    </div>
</div>